/** @format */
/** @format */
/* width */
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300;400;500&display=swap");
::-webkit-scrollbar {
  width: 1rem;
  background: #121212; }

/* Track */
::-webkit-scrollbar-track {
  background: #121212; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3a3a3a;
  border-radius: 0.5rem; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3a3a3a; }

/** @format */
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

:root {
  transition: all 0.3s; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-weight: 400;
  line-height: 1.6;
  position: relative; }

/** @format */
.primary__heading {
  font-family: Josefin Sans;
  font-size: 7.5rem;
  font-weight: 300;
  line-height: 1.2;
  text-transform: uppercase; }

/** @format */
/** @format */
.container {
  width: 100%; }

/** @format */
.header {
  width: 100%;
  height: 90vh;
  background-image: url(../images/desktop/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: grid;
  grid-template-columns: minmax(10rem, 20rem) repeat(8, minmax(min-content, 5rem)) minmax(10rem, 20rem);
  grid-template-rows: repeat(8, 1fr); }
  .header__mask {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(2, 2, 2, 0.3); }
  .header__heading {
    max-width: 60rem;
    color: #fff; }

.heading__box {
  grid-column: 2 / 5;
  grid-row: 4 / 7;
  z-index: 1;
  padding: 4rem;
  width: 70rem;
  height: 35rem;
  border: 1px solid #fff; }

/** @format */
.navigation {
  position: absolute;
  top: 6rem;
  left: 20rem;
  z-index: 1000;
  width: 152rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between; }

.navbar__list {
  display: flex;
  justify-content: center;
  align-items: center; }

.navbar__item {
  list-style: none; }
  .navbar__item:not(:last-child) {
    margin-right: 5rem; }

.navbar__link {
  font-family: "Alata", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
  text-decoration: none; }

/** @format */
.interactivity {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .interactivity__box {
    display: grid;
    max-width: 152rem;
    min-height: 80%;
    grid-template-columns: repeat(8, minmax(min-content, 15rem));
    grid-template-rows: repeat(6, 1fr); }
  .interactivity__img {
    grid-column: 1 / 6;
    grid-row: 1 / -1;
    background-image: url(../images/desktop/image-interactive.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .interactivity__text {
    grid-column: 5 / -1;
    grid-row: 3 / -1;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: flex-end;
    padding-left: 10rem; }
    .interactivity__text__heading {
      font-family: Josefin Sans;
      font-size: 6rem;
      font-weight: 300;
      line-height: 1.2;
      text-transform: uppercase;
      max-width: 50rem; }
    .interactivity__text__para {
      font-family: "Alata", sans-serif;
      font-size: 2rem;
      align-self: flex-end; }
