/** @format */

.creative {
  display: grid;
  grid-template-columns: repeat(8, minmax(min-content, 1fr));
  grid-template-rows: repeat(2, min-content);
  gap: 5rem;

  padding: 10rem;

  &__heading {
    grid-column: 2 / 7;
    grid-row: 1 / 2;

    font-family: "Josefin Sans", sans-serif;
    font-size: 6rem;
    font-weight: 300;
    line-height: 1.2;
    text-transform: uppercase;

    @media only screen and (max-width: $bp-huge) {
      grid-column: 1 / 8;
    }
  }

  &__container {
    grid-column: 2 / 8;
    grid-row: 2 / -1;

    max-width: 152rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem;

    @media only screen and (max-width: $bp-huge) {
      grid-column: 1 / -1;
    }
  }

  &__box {
    height: 50rem;
    border: 1px solid skyblue;

    @include flex-box;
    align-items: flex-end;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;

    &__name {
      font-family: "Josefin Sans", sans-serif;
      font-size: 4rem;
      font-weight: 300;
      line-height: 1;
      text-transform: uppercase;

      z-index: 1;
      text-align: center;
      color: #fff;

      padding: 3rem 4rem;
    }

    &-1 {
      background-image: url(/images/desktop/image-deep-earth.jpg);
    }

    &-2 {
      background-image: url(/images/desktop/image-night-arcade.jpg);
    }

    &-3 {
      background-image: url(/images/desktop/image-soccer-team.jpg);
    }

    &-4 {
      background-image: url(/images/desktop/image-grid.jpg);
    }

    &-5 {
      background-image: url(/images/desktop/image-from-above.jpg);
    }

    &-6 {
      background-image: url(/images/desktop/image-pocket-borealis.jpg);
    }

    &-7 {
      background-image: url(/images/desktop/image-curiosity.jpg);
    }

    &-8 {
      background-image: url(/images/desktop/image-fisheye.jpg);
    }
  }

  &__btn {
    grid-column: 7 /8;
    grid-row: 1 / 2;

    @media only screen and (max-width: $bp-huge) {
      grid-column: 8 / -1;
    }

    width: 16rem;
    height: 4rem;
    justify-self: center;
    align-self: center;

    border: 1px solid #000;
    background-color: transparent;

    font-family: "Alata", sans-serif;
    letter-spacing: 0.5rem;
    font-size: 1.4rem;
    text-transform: uppercase;

    cursor: pointer;

    transition: all 0.2s ease;

    &:hover {
      color: #fff;
      background-color: #000;
    }
  }
}
