/** @format */

.header {
  width: 100%;
  height: 90vh;

  background-image: url(../images/desktop/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  position: relative;

  display: grid;
  grid-template-columns:
    minmax(5rem, 1fr) repeat(8, minmax(min-content, 5rem))
    minmax(5rem, 1fr);
  grid-template-rows: repeat(8, 1fr);

  &__heading {
    max-width: 60rem;
    color: #fff;
  }
}

.heading__box {
  grid-column: 2 / 5;
  grid-row: 4 / 7;

  z-index: 1;

  padding: 4rem;
  width: 70rem;
  height: 35rem;

  border: 1px solid #fff;

  @media only screen and (max-width: $bp-medium) {
    grid-column: 3 / 6;

    width: 55rem;
    height: 40rem;

    padding: 2rem;
  }
}
