/** @format */

.navigation {
  position: absolute;
  top: 0;
  left: 0;

  z-index: 1000;
  width: 100%;
  padding: 6rem 20rem;

  @include flex-box;
  justify-content: space-between;

  @media only screen and (max-width: $bp-huge) {
    padding: 5rem 10rem;
  }
  @media only screen and (max-width: $bp-largest) {
    padding: 5rem 7rem;
  }
}

.navbar {
  &__list {
    @include flex-box;
  }

  &__item {
    list-style: none;
    &:not(:last-child) {
      margin-right: 5rem;

      @media only screen and (max-width: $bp-large) {
        margin-right: 2rem;
      }
    }
  }

  &__link {
    font-family: "Alata", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    padding: 0.5rem;

    position: relative;

    &::after {
      content: "";
      position: absolute;
      display: block;
      left: 0;
      bottom: 0;

      width: 0%;
      height: 2px;

      background-color: #fff;

      transition: all 0.2s ease-in;
    }

    &:hover::after {
      width: 100%;
      z-index: 1;
    }
  }
}
