/** @format */

.navigation {
  position: absolute;
  top: 6rem;
  left: 20rem;

  z-index: 1000;
  width: 152rem;

  @include flex-box;
  justify-content: space-between;
}

.navbar {
  &__list {
    @include flex-box;
  }

  &__item {
    list-style: none;
    &:not(:last-child) {
      margin-right: 5rem;
    }
  }

  &__link {
    font-family: "Alata", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
  }
}
